<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <!-- Struts2启动 -->
    <filter>  
        <filter-name>struts2</filter-name>  
        <filter-class>  
            org.apache.struts2.dispatcher.FilterDispatcher              
        </filter-class>  
    </filter>  
    <!-- 让struts定义的核心filter拦截所有请求 -->  
    <filter-mapping>  
        <filter-name>struts2</filter-name>  
        <url-pattern>*.htmlx</url-pattern>  
    </filter-mapping> 
	  <!-- Spring Web初始化配置 -->
  	<!-- 初始化 -->  
     <context-param>  
         <param-name>contextConfigLocation</param-name>  
         <!-- 如果有多个文件，在文件之间用英文逗号隔开 -->  
         <param-value>classpath:context.xml</param-value>  
     </context-param>
    <!-- 监听器 -->
    <!-- 配置spring监听器 -->    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>    
    </listener>  
    <!-- 设置request对象-->    
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>    
    </listener>  
  <display-name>InnerSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>